<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="../styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
  <!-- Sidebar -->
  <div class="sidebar">
    <h2>Homepage</h2>
    <a href="home_page.html" class="home-link">Ir para Homepage</a>
    <a href="perfil.html" class="perfil-link">Ir para Perfil</a>
    <a href="../controllers/logout.php" class="logout">Terminar Sessão</a>
  </div>

  <!-- Conteúdo principal -->
  <div class="card-container">
    <div class="galeria" id="imageGallery">
        <!-- As imagens serão carregadas aqui pelo JavaScript -->
    </div>
  </div>
  <script src="create_cards.js"></script>
</body>
</html>